@charset "UTF-8";

/*
    Paleta de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor01: #49a09d
    --cor02: #5f2c82
}

html, body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #49a09d, #5f2c82);
    background-repeat: no-repeat;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Esses 4 itens acima, são para centralizar a div#formulario ao meio da tela verticalmente. Permite deixar a div flexível, depois, centraliza horizontalmente, depois verticalmente e ocupa 100vh, que é o que define onde a div ficará. Como a div foi configurada para ficar no centro da tela (align-items), o height indicará o tamanho que ocupará essa tag (section) na tela, fazendo ela ficar sempre em 50% do valor do height, nesse caso, ficará no centro da tela  */
}

div#formulario {
    width: 60vw;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 16px;
    
}

div#formulario > h1 {
    padding-bottom: 20px;
}

div#formulario > p {
    padding-bottom: 20px;
}

